<br/>
<h2>Registro de Menu en Sede</h2>
<br/>
<div>
    <div class="form-group" > 
      <label for="menu">Menu</label>
      <select id="menu" name="menu"
              [(ngModel)]="menu_id" class="form-control">
        <option  *ngFor="let m of menus" [value]="m.id"> 
          {{m.nombre}}
        </option>
      </select>
    </div>
    <div class="form-group" > 
      <label for="sede">Sede</label>
      <select id="sede" name="sede"
              [(ngModel)]="sede_id" class="form-control">
        <option  *ngFor="let s of sedes" [value]="s.id"> 
          {{s.nombre}}
        </option>
      </select>
    </div>
     <button type="submit" class="btn btn-primary btn-block" (click)="registrarMenuSede()">Guardar</button>
</div>