<!--The content below is only a placeholder and can be replaced.-->
<div class="contenedor">
  <div class="contenedor_title">
    <img width="50" alt="Angular Logo" src="https://image.flaticon.com/icons/png/512/45/45332.png">
    <h1> {{ title }}</h1>
  </div>

  <div class="flex_cont">
    <div class="contenedor_lista">
      <ul class="nav nav-tabs">
          <li class="nav-item">
          <a class="nav-link" routerLink="nuevo">Registrar menú</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sedeMenu">Registrar Menu en Sede</a>
            </li>
         <li class="nav-item">
         <a  class="nav-link" routerLink="listaSede">Nueva Orden</a>
         </li>
         <li class="nav-item ">
          <a class="nav-link" routerLink="listarOrdenes">Ordenes</a>
        </li>
         <li class="nav-item gg">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="listarCarrito"><i class="glyphicon glyphicon-shopping-cart"></i> Car</a>
        </li>
     </ul>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
