*
{
    box-sizing: border-box;
}
.contenedor
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.contenedor_todo
{
    border-radius: 10%;
    width: 20%;
    height: 200px;
    margin-left: 22px;
    text-align: center;
    transform: translateY(60%);
}
.contenedor_sede
{
    position: relative;
    border-radius: 50%;
    height:30vh;
    background-image: url('https://www.upc.edu.pe/nosotros/campus/campus-monterrico/img/monterrico-1.jpg');
    background-size: cover;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor_todo :hover {
    cursor: pointer;
    transition-duration: 0.5;
    transform: scale(1.05);
  
}
.con_text{

    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 22px;
    font-style: oblique;
    bottom: 35%;
    color :white;
}

