.contenedor
{
    background: blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table_2
{
    background: red !important;
    width: 50% !important;
}
.centrado
{
    background: red !important;
    width: 70%;
}
.btn_prueba
{
    background: darkcyan !important;
    border-radius: 80px !important;
    padding: 0 !important;
    display: none;
}
.btn_prueba:hover
{
cursor: pointer;
}