<br/>
<h2>Registro de Menus</h2>
<br/>
<div class="contenedor">

    <div class="todo">

    <div class="con ">
      <label for="nombre">Nombre del menu:</label>
      <input type="text"  id="nombre" name="nombre" 
      placeholder="Ingrese el nombre" [(ngModel)]="menu.nombre">
    </div>

    <div class="con" > 
      <label for="sede">Sede</label>
      <select id="sede" name="sede" [(ngModel)]="sede_id" >
        <option  *ngFor="let sede of sedes" [value]="sede.id"> 
          {{sede.nombre}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="registrarMenuSede()">Guardar</button>
    </div>
</div>

