<br/>
<h2>Listado de Insumos</h2>
<br/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>

  <tbody *ngFor="let insumo of insumos">
    <tr>
      <td>{{insumo.id}}</td>
      <td>{{insumo.nombre}}</td>
      <td>{{insumo.precio}}</td> 
      <td>
          <div class="container">
              <div class="btn-group btn-lg-group-sm">
                <button type="button" class="btn btn-info btn-sm" (click)="AgregarInsumo(insumo)">
                  <i class="glyphicon-plus"></i>+ Agregar  
                </button>
              </div>
            </div>
      </td>
    </tr>
  </tbody>
</table>
